table 
{
padding: 25px;
font-size: 100px white;
margin: 200px 200px;
border: 5px solid white;
}
body {
  background-image: url('Imagenes/arma.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
input[type=text]
{
  margin:5px;
  border: solid;
  font-size: 15px;
  cursor: text;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  
}

input[type=submit]
{
margin:5px 75px;
border: solid white;
width: 50%;
height: 50%;
font-size: 15px white;
cursor: pointer;
background-color:transparent;
color: white;
border-radius: 25px;
}
td{
    font-size: 10px white;
    text-align: center;
    border: 5px white;
}
tr{
    border: 5px solid white;
    font-size: 10px white;
}