table 
{
border: 2px solid darkgreen;
margin: auto

}
body {
  background-image: url('Imagenes/armas.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
input[type=text], input[type=password]
{
  margin:5px;
  color:white;
  border: solid;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 25px;
}
label
{
font-size: 14px;
font-weight: bold;
font-family: arial;
margin:200px ;
}

input[type=submit]
{
  margin:20px;
color:white;
border: solid;
width: 50%;
height: 50%;
font-size: 15px;
cursor: pointer;
background-color: darkgreen;
color: white;
border-radius: 25px;
}
td{
    text-align: center;
}