table 
{
border: 2px solid #5791aa;
margin: 200px 100px;
width: 200px;
height: 300px;
}
body {
  background-image: url('Imagenes/login2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
input[type=text], input[type=password]
{
width: 50%px;
padding: 0px 0px;
border: 2px solid #5791aa;
box-sizing: border-box;
background-color: black;
margin: 0px 120px;
}
label
{
font-size: 14px;
font-weight: bold;
font-family: arial;
margin:200px ;
}

input[type=submit]
{
background-color: #5791aa;
color:white;
padding: px 15px;
margin: 0px 120px;
border: solid;
cursor: pointer;
width: 40%;

}

